services:
  mariadb:
    image: mariadb:12.2.2-ubi10
    environment:
      MARIADB_DATABASE: mhrs
      MARIADB_USER: mhrs
      MARIADB_PASSWORD: mhrs
      MARIADB_ROOT_PASSWORD: mhrs
    ports:
      - "3306:3306"
    healthcheck:
      test:
        ["CMD-SHELL", "mariadb-admin ping -u root -p$${MARIADB_ROOT_PASSWORD}"]
      interval: 5s
      timeout: 3s
      retries: 12
    volumes:
      - mariadb_data:/var/lib/mysql

  redis:
    image: redis:8
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 12
    volumes:
      - redis_data:/data

volumes:
  mariadb_data:
  redis_data:
